@font-face {
  font-family: Gilroy-Light;
  src: url(./fonts/Gilroy-Light.otf); }

@font-face {
  font-family: Gilroy-Bold;
  src: url(./fonts/Gilroy-ExtraBold.otf); }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img {
  width: 100%;
  height: auto; }

body {
  height: 100vh;
  position: relative;
  background-color: #f8f9fc;
  font-family: Gilroy-Light, Roboto; }

.container {
  max-width: 1008px;
  margin: 0 auto;
  width: 100%; }
  @media screen and (max-width: 1069px) {
    .container {
      padding-left: 40px;
      padding-right: 40px; } }

/******************HEADER****************/
.header {
  position: fixed;
  z-index: 80;
  width: 100%;
  background-color: white;
  animation-name: header;
  animation-duration: 1s;
  animation-delay: 0;
  animation-fill-mode: backwards; }
  .header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; }
  .header__logo img {
    max-width: 105px; }
  .header__nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 55px; }
    .header__nav_menu {
      font-family: Roboto;
      font-size: 16px;
      line-height: 130%;
      display: none;
      /*******CAN BE EASILY CHANGE USING JS********/
      position: absolute;
      top: 40px;
      right: 0;
      background-color: white;
      padding: 20px;
      min-width: 180px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
      .header__nav_menu-title {
        padding-bottom: 5px;
        margin-bottom: 10px;
        text-align: center;
        color: gray;
        border-bottom: 1.5px solid gray; }
      .header__nav_menu a {
        margin-bottom: 10px;
        text-decoration: none;
        color: black; }
        .header__nav_menu a:hover {
          color: #585858; }
    .header__nav-bell {
      max-width: 15px;
      margin-right: 15px;
      color: #d4d3d3; }
      .header__nav-bell:hover {
        cursor: pointer;
        color: #bebdbd; }
    .header__nav-icon {
      width: 25px;
      height: 25px;
      text-transform: uppercase;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f8991c;
      color: white;
      font-weight: 700; }
      .header__nav-icon:hover {
        cursor: pointer;
        background-color: #f19216; }

@keyframes header {
  from {
    top: -100px; }
  to {
    top: 0px; } }

/************************FOOTER AND MESSAGE*************/
.footer {
  text-align: center;
  font-size: 0.8em; }

.message {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 90px;
  /****CAN BE CHANGED USING JAVASCIRPT***/
  right: 30px;
  background-color: rgba(228, 49, 36, 0.76);
  padding: 10px 30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 120%;
  align-items: center;
  justify-content: center;
  color: white; }
  .message div {
    width: 140px;
    margin-left: 20px; }
  @media screen and (max-width: 1069px) {
    .message {
      right: 10px; } }

.error-message {
  background-color: rgba(228, 49, 36, 0.76); }

.success-message {
  bottom: 20px;
  /****CAN BE CHANGED USING JAVASCIRPT***/
  background-color: rgba(52, 182, 58, 0.76); }

/*************************MAIN CONTENT**************/
.main {
  position: relative;
  z-index: 0; }
  .main__items {
    width: 100%;
    padding: 80px 0 40px;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(16, 6.25%);
    grid-auto-rows: 12.5%; }
    @media screen and (max-width: 1069px) {
      .main__items {
        grid-auto-rows: 9%; } }
  .main__item {
    font-family: "Roboto"; }

.item--inner {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
  background-color: white;
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  overflow: hidden; }

.item--outer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.item--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

.logo {
  grid-row: 1 / 5;
  grid-column: 1/5; }
  @media screen and (max-width: 1069px) {
    .logo {
      grid-row: 1 / 6;
      grid-column: 1/8; } }
  .logo:hover .logo--wrapper {
    transform: rotateY(180deg); }
  .logo svg {
    max-width: 130px;
    max-height: 130px;
    width: 100%; }
  .logo--outer {
    background-color: white; }
  .logo--inner {
    transform: rotateY(180deg);
    align-items: center;
    justify-content: center; }
    .logo--inner a {
      background-color: #2d99ff;
      border: none;
      border-radius: 2px;
      padding: 13px 30px;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      color: white;
      text-decoration: none; }
      .logo--inner a:hover {
        outline: none;
        background-color: #1688f3; }

.qa {
  grid-row: 5 / 9;
  grid-column: 1/5; }
  .qa:hover .qa--wrapper {
    transform: rotateY(180deg); }
  @media screen and (max-width: 1069px) {
    .qa {
      grid-row: 9 / 12;
      grid-column: 1/9; } }
  .qa--outer {
    font-weight: 400;
    font-size: 64px;
    background-color: #52bf77; }
    @media screen and (max-width: 575px) {
      .qa--outer {
        font-size: 48px; } }
  .qa--inner {
    transform: rotateY(180deg); }

.js {
  grid-row: 1/7;
  grid-column: 5/9; }
  .js:hover .js--wrapper {
    transform: rotateY(180deg); }
  @media screen and (max-width: 1069px) {
    .js {
      grid-row: 1 / 6;
      grid-column: 8/14; } }
  .js--outer {
    padding: 10px;
    height: 100%;
    background-color: #f7cf69;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: black;
    font-weight: 700;
    font-size: 72px; }
    @media screen and (max-width: 575px) {
      .js--outer {
        font-size: 56px; } }
  .js--inner {
    transform: rotateY(180deg); }

.java {
  grid-row: 7/9;
  grid-column: 5/9; }
  @media screen and (max-width: 1069px) {
    .java {
      grid-row: 6 / 9;
      grid-column: 1/9; } }
  .java:hover .java--wrapper {
    transform: rotateY(180deg); }
  .java--outer {
    font-weight: 400;
    font-size: 28px;
    background-color: #e12b4c;
    animation-name: java;
    animation-duration: 1s;
    animation-delay: 0;
    animation-fill-mode: backwards; }
  .java--inner {
    transform: rotateY(180deg); }

.php {
  grid-column: 9/17;
  grid-row: 1/4; }
  @media screen and (max-width: 1069px) {
    .php {
      grid-row: 6 / 9;
      grid-column: 9/17; } }
  .php:hover .php--wrapper {
    transform: rotateY(180deg); }
  .php--outer {
    animation-name: php;
    animation-duration: 1s;
    animation-delay: 0;
    animation-fill-mode: backwards;
    color: black;
    font-size: 56px;
    font-style: italic;
    background-color: #8893c0; }
    @media screen and (max-width: 575px) {
      .php--outer {
        font-size: 48px; } }
  .php--inner {
    transform: rotateY(180deg); }

.net {
  grid-row: 4 / 9;
  grid-column: 9 / 14; }
  @media screen and (max-width: 1069px) {
    .net {
      grid-row: 9 / 12;
      grid-column: 9/17; } }
  .net:hover .net--wrapper {
    transform: rotateY(180deg); }
  .net--outer {
    font-size: 64px;
    background-color: #642077;
    animation-name: net;
    animation-duration: 1s;
    animation-delay: 0;
    animation-fill-mode: backwards; }
    @media screen and (max-width: 575px) {
      .net--outer {
        font-size: 48px; } }
  .net--inner {
    transform: rotateY(180deg); }

.events {
  grid-row: 4 / 6;
  grid-column: 14 / 17; }
  @media screen and (max-width: 1069px) {
    .events {
      grid-row: 1 / 3;
      grid-column: 14/17; } }
  .events:hover .events--wrapper {
    transform: rotateY(180deg); }
  .events--outer {
    background-color: #2d99ff;
    font-size: 14px; }
    @media screen and (max-width: 575px) {
      .events--outer {
        font-size: 12px; } }
  .events--inner {
    transform: rotateY(180deg); }

.blog {
  grid-row: 6 / 8;
  grid-column: 14 / 17; }
  .blog:hover .blog--wrapper {
    transform: rotateY(180deg); }
  @media screen and (max-width: 1069px) {
    .blog {
      grid-row: 3 / 5;
      grid-column: 14/17; } }
  .blog--inner {
    transform: rotateY(180deg); }
  .blog--outer {
    background-color: #0443a3;
    font-size: 14px; }
    @media screen and (max-width: 575px) {
      .blog--outer {
        font-size: 12px; } }

.contact {
  grid-row: 8 / 9;
  grid-column: 14 / 17; }
  @media screen and (max-width: 1069px) {
    .contact {
      grid-row: 5 / 6;
      grid-column: 14/17; } }
  .contact:hover .contact--wrapper {
    transform: rotateY(180deg); }
  .contact--outer {
    font-size: 14px;
    background-color: #00265f; }
  .contact--inner {
    transform: rotateY(180deg);
    align-items: center;
    justify-content: center; }
    .contact--inner i {
      max-width: 30px;
      margin-right: 8px; }
      .contact--inner i:hover {
        color: #2d99ff;
        cursor: pointer; }

@keyframes php {
  from {
    font-size: 5px; }
  to {
    font-size: 56px; } }

@keyframes net {
  from {
    font-size: 5px; }
  to {
    font-size: 64px; } }

@keyframes java {
  from {
    font-size: 5px; }
  to {
    font-size: 28px; } }
