@font-face {
  font-family: Gilroy-Light; 
  src: url(./fonts/Gilroy-Light.otf)
}
@font-face {
  font-family: Gilroy-Bold; 
  src: url(./fonts/Gilroy-ExtraBold.otf)
}

@import 'variables';

html{
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

img{
  width: 100%;
  height: auto;
}

body {
  height:100vh;
  position: relative;
  background-color: rgb(248,249,252);
  font-family: Gilroy-Light, Roboto;
}

.container {
  max-width: 1008px;
  margin: 0 auto;
  width: 100%;

  @media screen and  (max-width : 1069px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/******************HEADER****************/

.header{
  position:fixed;
  z-index: 80;
  width:100%;
  background-color: white;

  animation-name: header;
  animation-duration: 1s;  
  animation-delay: 0;
  animation-fill-mode: backwards;
  
  &-wrapper {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }

  &__logo{
    & img {
      max-width: 105px;
    }
  }

  &__nav {
    position: relative;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    z-index:55px;

    &_menu {
      font-family: Roboto;
      font-size: 16px;
      line-height: 130%;

      display: none;  /*******CAN BE EASILY CHANGE USING JS********/ 

      position: absolute;
      top: 40px;
      right:0;
      background-color: white;
      padding: 20px;
      min-width: 180px;
      box-shadow: 0 0 5px rgba(0,0,0,0.5); 

      &-title {
        padding-bottom: 5px;
        margin-bottom: 10px;
        text-align: center;
        color:gray;
        border-bottom: 1.5px solid gray;
      }

      & a {
        margin-bottom: 10px;
        text-decoration: none;
        color:black;

        &:hover {
          color:rgb(88, 88, 88);
        }
      }
    }

    &-bell{
      max-width: 15px;
      margin-right: 15px;
      color:rgb(212, 211, 211);

      &:hover {
        cursor: pointer;
        color:rgb(190, 189, 189);
      }
    }

    &-icon {
      width: 25px;
      height:25px;
      text-transform: uppercase;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: rgb(248,153,28);
      color: white;
      font-weight: 700;

      &:hover {
        cursor: pointer;
        background-color: rgb(241, 146, 22);
      }
    }
  }
}

@keyframes header {
  from {top: -100px;}
  to {top: 0px;}
}

/************************FOOTER AND MESSAGE*************/
.footer {
  text-align: center;
  font-size: 0.8em;
}

.message {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 90px; /****CAN BE CHANGED USING JAVASCIRPT***/
  right:30px;
  background-color: rgba(228, 49, 36, 0.76);
  padding: 10px 30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 120%;
  align-items: center;
  justify-content: center;
  color:white;

  & div {
    width: 140px;
    margin-left: 20px;
  }

  @media screen and  (max-width : 1069px) {
    right:10px;
  }
}

.error-message {
  background-color: rgba(228, 49, 36, 0.76);
}

.success-message {
  bottom: 20px; /****CAN BE CHANGED USING JAVASCIRPT***/
  background-color: rgba(52, 182, 58, 0.76);
}



/*************************MAIN CONTENT**************/

.main {
  position: relative;
  z-index: 0;
  &__items {
    width:100%;
    padding: 80px 0 40px;
    height:95vh;
    display: grid;                           
    grid-template-columns: repeat(16, max(6.25%));   
    grid-auto-rows: 12.5%; 

    
    @media screen and  (max-width : 1069px) {
      grid-auto-rows: 9%; 
    }
  
  }

  &__item {
    font-family: "Roboto";
  }
}

.item--inner {
  height:100%;
  width:100%;
  display: flex;
  position: absolute;
  background-color: white;
  padding: 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;

  overflow: hidden;
  
}

.item--outer {
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;

  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  
}

.item--wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.logo {
  grid-row: 1 / 5;                         
  grid-column: 1/5;

  @media screen and  (max-width : 1069px) {
    grid-row: 1 / 6;                         
    grid-column: 1/8;
  }
  
  &:hover {
    .logo--wrapper {
      transform: rotateY(180deg);
    }
  }

  & svg {
    max-width:130px;
    max-height: 130px;
    width:100%;
  }

  &--outer {
    background-color: white;
    
  }

  &--inner {
    transform: rotateY(180deg);
    align-items: center;
    justify-content: center;
  
    & a {
      background-color: rgb(45,153,255);
      border: none;
      border-radius: 2px;
      padding: 13px 30px;
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      color:white;
      text-decoration: none;

      &:hover {
        outline: none;
        background-color:rgb(22, 136, 243) ;
      }
    }
  }     
}

.qa {
  grid-row: 5 / 9;                         
  grid-column: 1/5;  

  &:hover {
    .qa--wrapper {
      transform: rotateY(180deg);
    }
  }

  @media screen and  (max-width : 1069px) {
    grid-row: 9 / 12;                         
    grid-column:1/9;
  }

  &--outer {
    font-weight: 400;
    font-size: 64px;
    background-color:rgb(82,191,119);

    @media screen and  (max-width : 575px) {
      font-size: 48px;
    }
  }

  &--inner {
    transform: rotateY(180deg);
  }
}

.js {
  grid-row: 1/7;
  grid-column: 5/9;
  &:hover {
    .js--wrapper {
      transform: rotateY(180deg);
    }
  }

  @media screen and  (max-width : 1069px) {
    grid-row: 1 / 6;                         
    grid-column: 8/14;
  }

  &--outer {
    padding: 10px;
    height: 100%;
    background-color:rgb(247,207,105);
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
    color:black;

    font-weight: 700;
    font-size: 72px;
    @media screen and  (max-width : 575px) {
      font-size: 56px;
    }
  }

  &--inner {
    transform: rotateY(180deg);
  }
}

.java {
  grid-row:7/9;
  grid-column:5/9;

  @media screen and  (max-width : 1069px) {
    grid-row: 6 / 9;                         
    grid-column:1/9;
  }


  &:hover {
    .java--wrapper {
      transform: rotateY(180deg);
    }
  }
  &--outer {
    font-weight: 400;
    font-size: 28px;
    background-color: rgb(225,43,76);

    animation-name: java;
    animation-duration: 1s;  
    animation-delay: 0;
    animation-fill-mode: backwards;
  }

  &--inner {
    transform: rotateY(180deg);
  }
}

.php {
  grid-column: 9/17;
  grid-row: 1/4;

  @media screen and  (max-width : 1069px) {
    grid-row: 6 / 9;                         
    grid-column:9/17;
  }


  &:hover {
    .php--wrapper {
      transform: rotateY(180deg);
    }
  }

  &--outer {
    animation-name: php;
    animation-duration: 1s;  
    animation-delay: 0;
    animation-fill-mode: backwards;

    color:black;
    font-size: 56px;
    font-style: italic;
    background-color: rgb(136,147,192);

    @media screen and  (max-width : 575px) {
      font-size: 48px;
    }
  }

  &--inner {
    transform: rotateY(180deg);
  }
}


.net {
  grid-row: 4 / 9;                        
  grid-column: 9 / 14;  
  
  @media screen and  (max-width : 1069px) {
    grid-row: 9 / 12;                         
    grid-column:9/17;
  }

  &:hover {
    .net--wrapper {
      transform: rotateY(180deg);
    }
  }

  &--outer {
    font-size: 64px;
    background-color: rgb(100,32,119);
    animation-name: net;
    animation-duration: 1s;  
    animation-delay: 0;
    animation-fill-mode: backwards;

    @media screen and  (max-width : 575px) {
      font-size: 48px;
    }
  }

  &--inner {
    transform: rotateY(180deg);
  }
}

.events {
  grid-row: 4 / 6;                        
  grid-column: 14 / 17;

  @media screen and  (max-width : 1069px) {
    grid-row: 1 / 3;                         
    grid-column: 14/17;
  }

  &:hover {
    .events--wrapper {
      transform: rotateY(180deg);
    }
  }
  
  &--outer {
    background-color: rgb(45,153,255);
    font-size: 14px;

    @media screen and  (max-width : 575px) {
      font-size: 12px;
    }
  }

  &--inner {
    transform: rotateY(180deg);
  }
}

.blog {
  grid-row: 6 / 8;                        
  grid-column: 14 / 17;
  
  &:hover {
    .blog--wrapper {
      transform: rotateY(180deg);
    }
  }

  @media screen and  (max-width : 1069px) {
    grid-row: 3 / 5;                         
    grid-column: 14/17;
  }

  &--inner {
    transform: rotateY(180deg);
  }

  &--outer {
    background-color: rgb(4,67,163);
    font-size: 14px;

    @media screen and  (max-width : 575px) {
      font-size: 12px;
    }
  }
}

.contact {
  grid-row: 8 / 9;                        
  grid-column: 14 / 17;

  @media screen and  (max-width : 1069px) {
    grid-row: 5 / 6;                         
    grid-column: 14/17;
  }
  
  &:hover {
    .contact--wrapper {
      transform: rotateY(180deg);
    }
  }
 

  &--outer {
    font-size: 14px;
    background-color: rgb(0,38,95);
  }

  &--inner {
    transform: rotateY(180deg);
    align-items: center;
    justify-content: center;

    & i {
      max-width: 30px;
      margin-right: 8px;

      &:hover {
        color:  rgb(45,153,255);
        cursor: pointer;
      }
    }
  }
}


@keyframes php {
  from {font-size: 5px;}
  to {font-size: 56px;}
}
@keyframes net {
  from {font-size: 5px;}
  to {font-size: 64px;}
}
@keyframes java {
  from {font-size: 5px;}
  to {font-size: 28px;}
}

